.subtitle {
  margin-bottom: 30px;
}
.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.first-item {
  font-weight: bold;
}


.dropdown-divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 4px 0;
}
