.filters{
    display: flex;
    gap: 20px;
    margin-top: 2%;
}
.top{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.searchbar{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}