.container_meal {
    width: 70vw;
    margin: 50px auto;
    border-radius: 1rem;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);

    .general_info {
        display: flex;
        padding: 30px 50px;

        .container_image {
            border-radius: 0.5rem;
            overflow: hidden;

            img {
                margin: 0 auto;
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
                max-height: 400px;
                height: 150px;
                object-fit: contain;
            }
        }

        .meal_general_info {
            display: flex;
            flex-direction: column;
            padding: 5px 40px;

            .title {
                font-size: 36px;
                font-weight: 9900;

            }

            .tags {
                small {
                    margin: 0 5px;
                    padding: 2px 4px;
                    border-radius: 0.5rem;
                    border: 1px solid #dee2e6;
                    transition: 0.4s ease-in-out;
                    cursor: pointer;
                }

                small:hover {
                    background-color: #dee2e6;
                }
            }

        }
    }

    .actual_cooking {
        display: flex;

        h2 {
            line-height: 2;
        }

        .product {
            height: 100%;
            width: 50%;
            padding: 50px 15px 50px 30px;
            flex: 1;

            /*background-color: rgba(108, 108, 211, 0.937);*/
            .title {
                margin: 0 0 50px 0;
            }

            .ingredients {
                width: 100%;
                margin: 10px 0 50px 30px;

                .ingredient {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    line-height: 1.8;
                    border: 1px solid #dee2e6;
                    transition: 0.4s ease-out;
                    cursor: pointer;
                }

                .ingredient:hover {
                    border: 1px solid #989c9f;
                }
            }

            .description {
                margin-left: 50px;
                line-height: 2;
                font-size: 18px;
            }

        }

        .directions {
            min-height: 350px;
            min-width: 70%;
            height: fit-content;
            padding: 0px 60px 50px 50px;
            /*background-color: rgb(245, 245, 245);*/
            border-radius: 1rem;
            margin-top: 50px;
            max-width: 50%;
            flex: 2;
        }

        p {
            margin-top: 50px;
        }

        .container_image:hover {
            transform: rotate(5deg);
        }
    }

}

.return-button {
    position: fixed;
    background-color: rgba(0, 160, 0, 0.759);
    border-radius: 0.5rem;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 15px;
    cursor: pointer;
    transition: 0.4s ease-in-out;

    img {
        height: 80px;
        object-fit: cover;
        transition: 0.4s ease-in-out;
    }
}

.return-button:hover {
    background-color: rgba(0, 100, 0, 0.759);
    border-radius: 3rem;

    img {
        transform: scale(1.1);
    }
}

.ingredient {
    width: auto;
    display: flex;
    flex-direction: row;

}

@media (max-width: 768px) {
    html {
        overflow-x: hidden;
    }

    .general_info {
        flex-direction: column;
        padding: 15px 0 !important;

        .container_image {
            img {
                height: 250px;
            }
        }

        .meal_general_info {
            padding: 5px 20px;
        }
    }

    .actual_cooking {
        flex-direction: column;

        .product {
            padding: 0 !important;
            margin: auto;
            width: 70%;


            .ingredients {
                width: 130% !important;
                margin: 0 !important;
            }
        }

    }
}